{
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:compat/recommended",
    "plugin:jest/recommended",
    "plugin:promise/recommended",
    "plugin:react/recommended",
    "standard",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "compat",
    "jest",
    "promise",
    "react",
    "react-hooks",
    "standard",
    "jsx-a11y"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "args": "after-used"
      }
    ],
    "import/no-named-default": 0,
    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "no-console": "error"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignorePatterns": [
    "node_modules/",
    "public/"
  ],
  "settings": {
    "react": {
      "version": "detect",
      "pragma": "React"
    }
  }
}